/* start my framework*/
.big{
    height: 4000px;
}
.upper{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
.main-color{
    color:#FF5E00;
}
.back-color{
    background-color: #FF5E00;
}
.bord{
    border-bottom: 2px solid white;
    width: 100px;
}
.scrolled{
    background-color: rgba(0,0,0,0.8) !important;
}
.butt{
        background: transparent;
    padding: 7px 10px;
    border: 2px solid #fff;
    color:#fff;
}
.butt:hover{
    background-color:#FF5E00;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    transition: 1s;
}
/* end my framework*/
/*******************************************************/
.navbar{
    margin:0 !important;
}

/* start my heading section*/
.header{
    margin:0 auto;
    position:relative;
    /*height:300px;*/
    background: url(../img/back.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}
.header .overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.header .container{
    padding: 100px ;
}
.header .container .row .axith{
    font-size: 65px;
    text-transform:uppercase;
    color: white;
    
}
.header .container .row .axitp{
    font-size :30px;
    text-transform:uppercase;
    color:white;
}
.header .container .row .axitdesc{
    color:#999999;
    margin: 22px 0px;
}

.border{
    border-bottom: 2px solid white;
    width: 55px;
}
.panel{
    width:300px;
   margin-left: 100px;
}
@media screen and (max-width: 700px) {
    .panel {
        display:none;
    }
    
}
.panel .panel-footer{
    background-color: #FF5E00;
}
/* end of heading section*/



/* start social media section*/

.social-media{
    background-color: #888;
    padding:20px 15px;
    background-color: #f3eaea;
    padding: 20px 15px;
    box-shadow: -2px -5px 43px #000;
}

.fa{
    margin-top: 15px;
    color:#222;
    font-size: 30px;
    margin-left: 7.2%
}
.fa-facebook:hover{
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#3b5998;
    background-color:#FF5E00;
    border-radius: 50%;
}
.fa-github:hover{
    
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#000;
    background-color:#FF5E00;
    border-radius: 50%;
}
.fa-google:hover{
    
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#3b5998;
    background-color:#FF5E00;
    border-radius: 50%;
}
.fa-stack-overflow:hover{
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#ff4500;
    background-color:#FF5E00;
    border-radius: 50%;
}
.fa-twitter:hover{
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#55acee;
    background-color:#FF5E00;
    border-radius: 50%;
}
.fa-youtube:hover{
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#bb0000;
    background-color:#FF5E00;
    border-radius: 50%;
}
.fa-yahoo:hover{
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#410093;
    background-color:#FF5E00;
    border-radius: 50%;
}
/* end of social media section*/




/* start tab section*/
.tab-section{
    margin:15vh 25vh;
    
}
.tab-section .box{
    width:100px;
    height:100px;
    background-color: #333333;
    text-align: center;
    line-height:100px;
    color:white;
}
.tab-section .box:hover{
    background-color: #FF5E00;
}
.tab-section .tog{
    display:none;
}
.tab-section .tog h3{
    margin-bottom: 30px;
}
.tab-section .tog p{
    line-height: 1.8;
}

/* end tab section*/


/* start of sublist section*/

.sub-list{
  background-color:#ece6e6;
  padding:30px;
}
.ico{
    width: 50px;
    height: 50px;
    line-height: 100px;
    line-height: 50px !important;
    text-align: center;
    color: #FF5E00;
    border-radius: 50%;
    border: 1px solid #FF5E00;
    margin-right: 20px;
}
.sub-list .contain .row img{
    width: 422px;
    text-align: center;
    margin: 30px 15px auto;
    box-shadow: 5px 0px 30px ;
    height:360px;
}

/* end of sublist section*/



/* start awesome section*/
.bor{
    border-bottom: 1px solid #FF5E00;
    width: 50px;
    margin: 16px;
    margin: 20 auto;
}

/* end awesome section*/


/* start of pricing section*/



/* end of price section*/
